@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br/>
    <br/>
    <img src="~/images/Butterfly.jpg" class ="border-top-10"width="45%" />
</div>
