@{
	ViewData["Title"] = "Login Confirmation";
}

<div class="container row pt-4">
	<div class="col-12 text-center">
		<div class="col-12 text-center" style="color:maroon">
			<br />
			<h1 class="text-white text-center">
				Login Successful!
			</h1>
			<br />
		</div>
		<img src="~/images/lawn_leaf.jpg" width="55%" />
	</div>
	<br /><br />
</div>